body{
  font-family: sans-serif;
}



.biography{

  width: 75%;
  display: inline-block;
  font-size: 14px;
  line-height: 1.4;
}
.summary{

  display:inline-block;
  vertical-align: top;
}

.summary-table{
border: 1px solid gray;
background-color: #f8f9fa;
font-size: 14px;

}
.summary-table thead th{
  background-color: #b0c4de;
  font-size: 16px;
}
.summary-table tbody tr:first-child{
  text-align: center;


}

.summary-table tbody th{
text-align: left;}

#borde{

  border-bottom: 1px solid #aaa;
}
